*{padding:0;margin:0;box-sizing:border-box}
html,body {height:100%}
h1,h2,h3,h4,h5,h6 {margin: 1em 0}
p {margin: 1em 0;}
a,a:link,a:visited {text-decoration: none}
a:hover {text-decoration: underline}
ul,ol {margin-left: 1em}
hr {
    width: 85%;
    border: 0;
    border-bottom: 1px solid #CCC;
    margin: 1em auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
:root {
    --bg: #ababab;
    --text: #1c1c1c;
    --bgimg: url('data:image/gif;base64,R0lGODlhCAAIAKIAAAAAAP///+Pj48fHx6urq////wAAAAAAACH5BAEAAAUALAAAAAAIAAgAAAMQODKkvA0O5mKkq1YpMb5XAgA7');
    --link: #11779c;
    --link-hover: #a51515;
    --link-visited: #7c2fbb;

    --grey0: #000000;
    --grey1: #121212;
    --grey2: #232323;
    --grey3: #454545;
    --grey4: #565656;
    --grey5: #676767;
    --grey6: #787878;
    --grey7: #898989;
    --grey8: #9A9A9A;
    --grey9: #ABABAB;
    --grey10: #BCBCBC;
    --grey11: #CDCDCD;
    --grey12: #DEDEDE;
    --grey13: #EFEFEF;
    --grey14: #FFFFFF;
    --green: #AAFFAA;
    --green2: #66CC66;
    --green3: #339933;
    --blue: #66AAFF;
    --blue2: #3388CC;
    --blue3: #005599;
    --red: #FFAAAA;
    --red2: #CC6666;
    --red3: #993333;
}
@media (prefers-color-scheme: dark) {
    /* dark mode */
    :root {
        --bg: #1c1c1c;
        --text: #e3e3e3;
        --bgimg: url('data:image/gif;base64,R0lGODlhCAAIAKIAAAAAAP///1RUVDg4OBwcHP///wAAAAAAACH5BAEAAAUALAAAAAAIAAgAAAMQODSivA0O5mKkq1YpMb5XAgA7');
        --link: #46cafa;
        --link-hover: #fc3a3a;
        --link-visited: #7c46fa;

        --grey14: #000000;
        --grey13: #121212;
        --grey12: #232323;
        --grey11: #454545;
        --grey10: #565656;
        --grey9: #676767;
        --grey8: #787878;
        --grey7: #898989;
        --grey6: #9A9A9A;
        --grey5: #ABABAB;
        --grey4: #BCBCBC;
        --grey3: #CDCDCD;
        --grey2: #DEDEDE;
        --grey1: #EFEFEF;
        --grey0: #FFFFFF;
        --green3: #AAFFAA;
        --green2: #66CC66;
        --green: #339933;
        --blue3: #66AAFF;
        --blue2: #3388CC;
        --blue: #005599;
        --red3: #FFAAAA;
        --red2: #CC6666;
        --red: #993333;
    }
}
body {
    background: var(--bg);
    background-image: var(--bgimg);
    color: var(--text);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a, a:link {color: var(--link)}
a:hover {color: var(--link-hover)}
a:visited {color: var(--link-visited)}

img,svg,video {
    vertical-align: middle;
}

label {
    display: block;
    font-weight: 500;
}

input, select {
    display: block;
    width: 100%;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    border: 1px solid var(--grey5);
    font-size: inherit;
    font-family: sans-serif;
    background: inherit;
    color: inherit;
}

button {
    padding: 0.5em 0.8em;
    border-radius: 4px;
    border: 1px solid var(--grey4);
    font-size: inherit;
    font-family: sans-serif;
    background: inherit;
    color: inherit;
}

textarea {
    border: 1px solid var(--grey5);
    padding: 0.5em 0.8em;
    font-family: sans-serif;
    background: inherit;
    color: inherit;
}

summary {
    list-style-type: none;
    line-height: 1.4rem;
    padding-left: 0.5rem;
    margin-bottom: 0.75rem;
}
summary:after {
    display: inline-block;
    content: '\25C0';
    margin-left: 0.5rem;
}
details[open] summary:after {
    content: '\25BC';
}

/** classes */

.center {text-align: center}
.hidden {display: none}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: calc(100% - 5em);
    margin: 0 auto;
    padding: 0.5em 1em;
    background-color: var(--grey12);
    color: var(--grey1);
}

.select {
    position: relative;
    display: flex;
    background: var(--grey12);
    overflow: hidden;
}
.select>select {appearance:none}
.select::after {
    display: block;
    content: '\25BC';
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    padding: 0 1em;
}

.bg-red {
    background-color: var(--red3);
    color: var(--grey14);
}
.bg-green {
    background-color: var(--green3);
    color: var(--grey14);
}
.bg-blue {
    background-color: var(--blue3);
    color: var(--grey14);
}

.btn-red {
    background-color: var(--red);
    color: var(--grey0);
}
.btn-green {
    background-color: var(--green);
    color: var(--grey0);
}
.btn-blue {
    background-color: var(--blue);
    color: var(--grey0);
}

.row {
    width: 100%;
    grid-column: 1 / -1;
}

.group {
    margin: 0.5em;
    padding: 0.25em;
}

.btn-group {
    display: flex;
}
.btn-group>* {
    border-radius: 0;
    border-right-width: 0;
}
.btn-group>*:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group>*:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
}


/* nav */
nav {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    background-color: var(--nav-bg);
    color: var(--grey0);
}
nav>.container {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr))
}

nav ul {
    list-style-type: none;
    display: inline-block;
    align-items: center;
}
nav ul:nth-of-type(2) {
    justify-self: end;
}

nav ul>li {
    display: inline-block;
    color: var(--nav-color);
    text-decoration: none;
    border-radius: 5px;
}

nav ul>li>a {
    color: inherit !important;
    text-decoration: inherit;
    padding: 1em 0.5em;
    display: block;
}

nav ul>li.brand {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0.5em;
}

nav ul>li:not(.brand):hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-container {
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: visible;
    height: 4.5rem;
}

nav details {
    background-color: var(--blue3);
    align-self: baseline;
}
nav details[open] {
    padding-top: 3.4rem;
}

.hamburger {
    display: none;
}

/* mobile */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    nav>.container {
        display: none;
    }

    .nav-container {
        border-radius: 0;
    }

    .hamburger {
        width: 100%;
        position: relative;
        display: grid;
        height: 3em;
        align-items: center;
        color: var(--nav-color);
    }

    .hamburger label {
        font-size: 1.5em;
    }

    .hamburger label .brand {
        margin-left: 1em;
        font-variant: small-caps;
    }

    .hamburger input {
        display: none;
    }

    .hamburger .menu {
        width: 50%;
        background-color: #121212;
        position: absolute;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s;
        padding-top: 3em;
        margin-top: 24.5%;
    }

    .hamburger .menu ul {
        list-style-type: none;
        width: 100%;
        margin-inline: 0;
    }
    
    .hamburger .menu ul li {
        display: block;
    }
    .hamburger .menu ul li>a {
        display: block;
        height: 100%;
        width: 100%;
    }

    #hamburger-button:checked + label {
        text-shadow: 0 0 2px #FFF;
    }

    #hamburger-button:checked + label + .menu {
        transform: scaleY(1);
    }
}

/* big screen */
@media only screen and (min-width: 1921px) {
    .container {width: 60%}
}
